@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  background-color: #efebeb;
}
.btn-primary{
  background-color: #FD6E0A;
  color:#ffffff;
  border-radius: 6px;
  height:64px;
  font-size: 20px;
  font-weight: 700;
  border:none;
  padding: 18px 30px;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 90px;
  transition-duration: 1s;

}

nav .nav-heading h1 {
  font-size: 35px;
  font-weight: 900;
  cursor: pointer;
}

.text-size {
  font-size: 50px;
}

.text-color-tometo {
  color: tomato;
}

.text-color-green {
  color: green;
  font-size: 40px;
}

nav .nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

nav .nav-logo img {
  width: 100px;
  border-radius: 50%;
  /* border: 3px solid green; */
  box-shadow: 2px 10px #888888;
}

nav .nav-logo a {
  color: green;
  font-weight: bold;
  cursor: pointer;
}

nav .nav-logo:hover a {
  color: black;
}






/* --------
header menu 
---------*/

menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
  background-color: white;
  box-shadow: 5px 10px 5px #e0e0e0;
}

menu ul {
  display: flex;
}

menu ul li {
  list-style: none;
  border-right: 1px solid rgb(163, 161, 161);
  padding: 3px 13px;
  /* font-family: ; */
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

menu ul li:hover {
  list-style: none;
  padding: 3px;
  padding: 3px 13px;
  color: blue;
}

menu ul :last-child {
  border: none;
}

menu ul :first-child {
  color: blue;
}
.menu-search{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-search input {
  background-color: #efebeb;
  border: none;
  padding: 5px;
  border-radius: 10px;

}

menu i {
  margin-left: -33px;
  font-weight: bold;
  padding: 0 10px;
  /* border: 1px solid; */
  border-radius: 10px;
}

menu i:hover {
  color: #979595;
  cursor: pointer;


}

/* ---------------
banner 
--------------*/





/* Caption text */
.banner-info {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  width: 50%;
  text-align: center;
  top: 25%;
  right: 40px;
}

.banner-info h2 {
  font-size: 39px;
}

.banner-info p {
  font-size: 14px;
  color: #888888;
}

.banner-info button {
  font-size: 14px;
  background-color: #ff5200;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;

}

.banner-info button:hover {
  background: black;
  box-shadow: 1px 1px #888888;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}




/* ----------------
  phone item section  
 --------------*/
.phone-item {
  padding: 40px 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.phone-item .item-box {
  /* background-color: rgb(104, 0, 108); */
  padding: 15px;
  border-radius: 10px;
  color: white; 
  transition: 0.5s all ease-in-out;
}

.box1{
  background-color: rgb(78, 163, 255);
}

.box1:hover{
  background-color: rgb(143, 255, 73);
}
.box2{
  background-color: rgb(104, 0, 108);
}
.box2:hover{
  background-color: tomato;
}
.box3{
  background-color: rgb(143, 255, 73);
}
.box3:hover{
  background-color: rgb(78, 163, 255);
}



.phone-item .item-box .item-box-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.phone-item .item-box .item-box-icon i {
  font-size: 70px;
  width: 30%;
}
.phone-item .item-box .item-box-icon h3 {
  font-size: 50px;
  line-height: 45px;
  
}
.phone-item .item-box p {
  font-size: 15px;
  padding-top: 3%;
  
}



/* .product section */
.product{
  padding: 40px 90px;
  text-align: center;
  
}
.product-wrappar{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.single-product{
  /* border: 1px solid; */
  background: white;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.mobile-info{
  /* border: 1px solid; */
}
.rating-pointe{
  color: #ff5200;
  font-size: 14px;

}
.mobile-info h3{
  font-size: 18px;

}
.mobile-info p{
  font-size:14px ;
  line-height: 17px;
}
.mobile-info h5{
  font-size: 18px;
}
.mobile-info h5 .price{
color: rgb(252, 38, 0);
font-size: 17px;
}
.mobile-info button{
  background: #ff5200;
  width: 100%;
  border-radius: 5px;
  padding:5px 3px;
  color: white;
  border: none;
  transition: 0.5s all ease-in-out;
}
.mobile-info button:hover{
  background: black;
  color: white;
}
.product .showAll{
  background: green;
  color: white;
  width: 15%;
  padding: 15px 0;
  border: none;
  border-radius: 5px;
  margin: 40px auto;
  font-size: 25px;
  transition: 0.5s all ease-in-out;
  


}
.product .showAll:hover{
  background: black;
  color: white;



}


/* footer style */
footer{
	background:#270101;
	color:white;
   padding:50px 0;
	margin-top:60px
}
.footer-section{

	width:1140px;
	display:flex;
	margin:auto;
	gap:50px;
	padding:10px;
   
}
.footer-first-title{
	font-size:45px;
	font-weight:900;
	color:white;
	margin-bottom:20px;
}
	
.foter-description{
	font-size:15px;
	color:#ffffffc7;
	margin-bottom:40px
}

.footer-contac{
	margin-bottom:20px;
	font-size:15px;
	color:#ffffff;
	margin-bottom:10px
}
.footer-btn-email{
	margin-right:190px
}
.footer-seconde-title{
	font-size:35px;
	margin-bottom:20px;
}
.footer-section input{
	height:30px;
	width:300px;
	background:none;
	color:#ffffff;
	margin-top:20px;
	border:1px solid white;
	margin-bottom: 30px;
	padding:5px
}
.footer-section img{

   margin-right:10px;
	width:20px;
	border-radius:50%;
   background: white;
   padding: 5px;
   cursor: pointer;
}














































/* On smaller screens, decrease text size */
@media only screen and (max-width:768px) {
  .slid-move-button {
    justify-content: center;
    align-items: center;
  }

  .prev,
  .next {
    top: 30%;
  }

  .text {
    font-size: 11px
  }

  .banner-info {
    top: 15%
  }

  .banner-info h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .banner-info p {
    display: none;
  }


  .phone-item {
    padding: 40px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  
  
  menu i {
    font-weight: bold;
    padding: 10px;
    /* border: 1px solid; */
    border-radius: 10px;
  }
}








@media only screen and (max-width: 429px) {

  nav {
    flex-wrap: wrap;
    gap: 30px;
  }

  nav .nav-logo a {
    color: green;
    font-weight: bold;
    cursor: pointer;
  }


  menu {
    display: block;
    /* flex-wrap: wrap; */
  }

  menu ul {
    display: block;
    /* flex-wrap: wrap; */
  }

  menu ul li {
    list-style: none;
    border-bottom: 1px solid rgb(163, 161, 161);
    border-right: none;
    align-items: center;

  }

  menu input {
    background-color: #efebeb;
    padding: 10px 10px;
    width: 90%;

  }

  menu i {
    margin-left: -33px;
    font-weight: bold;
    padding: 10px;
    /* border: 1px solid; */
    border-radius: 10px;
  }



  .prev,
  .next,
  .text {
    font-size: 11px
  }

  .banner-info {
    top: 10%;

  }

  .banner-info h2 {
    font-size: 20px;
  }


  .phone-item {
    padding: 40px 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

}







@media only screen and (max-width: 385px) {
  .banner-info h2 {
    font-size: 14px;
    margin-bottom: -5px;

  }
}